.flex-dashboard{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

}
sidebar{
    display: block;
    height: 100%;
    width: 300px;
    /* background: linear-gradient(135deg, rgb(245, 220, 248), rgb(194, 194, 231)); */
    background-color: #333333;
}
sidebar .sidebar-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    height: 90px;
    /* border: 1px solid rgb(0, 0, 0, .0625); */
    border-right: 0px;
    margin-top: 15px;
}
sidebar .sidebar-titulo img {
    height: 50px;
    width: 50px;
}
sidebar .sidebar-titulo h2 {
    font-size: 15px ;
    margin-top: 8px;
    color: white;
}
div .menu{
    border-right: 1px solid rgb(0, 0, 0, .0625);
}
div .menu ul{
    list-style-type: none;
    
}
div .menu ul li{
    padding: 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
div .menu ul li svg{
    /* color:#015F72; */
    color: white;
    font-size: 22px;
}
div .menu ul li a{
    color: #afafaf;
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
}
div .menu ul li a:hover{
    color: #636363;

}
.selecionado{
    background-color: #f0f0f0;
}
.selecionado a {
    color: black !important;
}

.selecionado svg {
    color: #333333 !important;
}